<div class="top-main">
  <div class="top-area">
 <h1>スロース・ライフで<br>共に高め合い、成長する</h1>
  </div>
</div>
<!--about-->
<div id="about_area">
  <div class="about">
  <h1>- このサイトについて -</h1>
  <p>スロース・ライフは、しがない大学生でチームを組み、レールに敷かれた人生から逃れるために、結成されました。<br>
     このサイトでは、私たちスロース・ライフが得た知識をブログなどで皆さんに提供しています。<br>
     またサービスでは、皆さんが意見を共有し、互いに能力を高める場所を用意しています。<br>
     皆様の成長とともに、私たちも成長をして、より良いサービスを提供するよう努めていきます。<br>
  ぜひ、ご利用の方をよろしくお願いします。</p>
  </div>
</div>
<!-- profile_area-->
<div class="Profile-header">
  <h2 class="container border">Profile</h2>
</div>
<div id="profile_page">
  <div class="intro text_center">
    <div class="top_images intro1 float_left">
      <div class="contain">
        <img  src="/top5.JPG" alt="">
      </div>
      <div class="contain backcolor1">
        <h2>たくぞう</h2>
        <p>自分に何も取り柄がないことに気づいた大学生<br>しかもちょっとした対人恐怖症。<br>そんな中ブログを書く楽しさを知る。<br>フィリピンへ語学留学もいきました。<br>ブログと英語で人生逆転を狙う！</p>
      </div>
      <div class="clear_left"></div>
   </div>
    <div class="top_images intro2 float_left">
      <div class="contain">
        <img src="/top4.JPG" alt="">
      </div>
      <div class="contain backcolor1">
        <h2>Ken</h2>
        <p>このサイト・ブログを運営する大学生。<br>筋トレ・美容・心理学などの自分磨きが趣味。<br>好きな食べ物はスイーツ系。嫌いな食べ物はチーズ・あさり<br>日々考えることは、死後の世界。<br>理想なる人生・理想なる自己を追求し、今を生きる。</p>
      </div>
      <div class="clear_left"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--twitter Instagram -->
<div id="media_page">
    <div class="index_twitter float_left text_center margin_auto">
      <h2 class="SNS border">Twitter</h2>
      <div class="twitter_plugin ">
        <a max-width="100%" height="480px" scrolling="yes" class="twitter-timeline" href="https://twitter.com/NekatAndBox?ref_src=twsrc%5Etfw">Tweets by NekatAndBox</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="clear_left"></div>
    </div>
    <div class="index_instagram float_left text_center margin_auto">
      <h2 class="SNS border">Instagram</h2>
      <div class="Instagram_plugin ">
        <a  max-width="100%" height="630px" href="https://instawidget.net/v/user/kopkokio" id="link-9eab56b2dfa279268a9ae9942b34b6645bb30dfdb9d99a95fb952c91d0942f03">@kopkokio</a>
        <script src="https://instawidget.net/js/instawidget.js?u=9eab56b2dfa279268a9ae9942b34b6645bb30dfdb9d99a95fb952c91d0942f03&width=300px"></script>
      </div>
      <div class="clear_left"> </div>
    </div>
</div>
<!--fotter-->
<footer id="footer_area">
  <div class="">

  </div>
  <div id="copyright" class="container">
    Copyright© SLOTH LIFE. All Rights Reserved.
  </div>
</footer>
